# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="xxx"


GIS_CLIENT_ID=147393726692-odf5vqb0svtjp4vbulo36rbbj8gqevhf.apps.googleusercontent.com
GIS_CLIENT_SECRET=xxx

AUTH_CLIENT_REDIRECT_BASE_URL=http://localhost:3000

JSON_WEB_TOKEN_SECRET=yyy
