@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}


.form-label{
  @apply flex flex-col gap-1 my-2;
}

.form-label .label-text{
  @apply text-sm font-medium text-gray-700;
}


.form-label input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.form-label textarea{
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}


.form-container {
  width: 94%;
  @apply relative border-4 border-purple-900 p-4 mx-auto max-w-lg text-left;
}

.form-container:before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -15px;
  bottom: -15px;
  left: -4px;
  top: 15px;
  width: 15px;
  @apply bg-purple-900;
}
.form-container:after {
  @apply bg-purple-900;
  content: "";
  display: block;
  position: absolute;
  margin-left: -15px;
  bottom: -19px;
  left: -4px;
  right: 15px;
  height: 15px;
}
